<link rel="stylesheet" href="/css/customercss/cart.css">
<div class="cartheadeing">
    <h1>Cart</h1>
</div>
<div class="cartcontainer">

</div>
    


<script src="/js/customerjs/cartpage.js"></script>