<link rel="stylesheet" href="/css/customercss/checkout.css">
<div class="checkoutcontainer">
    <div class="allitemscontainer">
        <h1>Checkout</h1>
    </div>
    <div class="grandtotal"></div>
    <div class="checkoutbtn">
        <button id="confirmorder"> Confirm Order</button>
    </div>

</div>
<div class="loader">
    <img src="/images/loader.gif" alt="">
</div>
<script src="/js/customerjs/checkout.js"></script>