<link rel="stylesheet" href="css/store/seller-login.css">
<div class="loginformcontainer">
    <div class="heading_login"><h1>Login</h1></div>
    <form id="sellerloginform" action="">
        <div class="input_email">
            <label for="loginuseremail">Email Address</label>
            <input type="email" name="loginuseremail" id="loginuseremail" placeholder="user@mail.com" required>
        </div>
        <div class="input_pass">
            <label for="loginuserpass">Password</label>
            <input type="password" name="loginuserpass" id="loginuserpass" required>
            <i class="fa-solid fa-eye eyespass"></i> 
        </div>
        <div class="forgetpass">
           <p>Don't have Account? <a href="#">Create Profile</a>.</p> 
           <p>Forget Password? <a href="#">Click here</a></p>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

<script src="/js/storejs/store-login.js"></script>