
<link rel="stylesheet" href="css/customercss/selectcategory.css">
<div class="selectcategorysection">
    <h1>Select Category</h1>
    <div class="catergyContainer">
    <div class="category">
        <img src="/images/categoryglossary.webp" alt="glossary_hero_image">
        <h2>Grocery Store</h2>
        <a href="/store-category/grocery"><i class="fa-solid fa-eye"></i> View Store</a>
    </div>
    <div class="category">
        <img src="/images/categoryrestaurant.webp" alt="glossary_hero_image">
        <h2>Restaurants</h2>
        <a href="/store-category/restaurent"><i class="fa-solid fa-eye"></i> View Store</a>
    </div>
  </div>
</div>
