<link rel="stylesheet" href="/css/customercss/singlestorepage.css">
<div class="singlestorecontainer">
    <h2>Store Items</h2>
    <div class="storeproducts">
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
        <div class="productcontainer">
            <img src="/images/bagofrice.jpg" alt="productimage">
            <h1>Bag of 1kg Rice</h1>
            <p class="productprice">Price: <span class="priceamount">50</span>  AUD</p>
            <p class="productcount">
                <button class="dec_icon"><span>-</span></button>
                <span class="item_count" data-quantity="1">1</span>
                <button class="inc_icon"><span>+</span></button>
            </p>
            <div class="addtocart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
    </div>
    <hr>
    <br>
    <div class="storeinfosection">
        <div class="storeimage">
            <img src="/images/food_image.jpg" alt="">
        </div>
        <div class="addressinformation">
            <div class="storeaddress">
                <h2>Store name:  <span>Bakery store in dubai</span></h2>
                <p>Owner name: <span>Bakery store in dubai</span></p>
            </div>
            <br>
            <div class="storeaddressbrif">
                <p class="storelocationheading"><b>Store address :</b></p>
                <p><b>Unit No.: </b> unit number</p>
                <p><b>Building No :</b> building number</p>
                <p><b>Street No.  :</b> street no</p>
                <p><b>Zone No.  :</b> xone no</p>
            </div>
            <br>
            <div class="storeotherinfo">
                <p><b>Business Hours.:</b> 8AM - 9PM</p>
                <p><b>WhatsApp No.:</b> this is wp number</p>
                <p><b>Delivery:</b> available or not available</p>
            </div>
            </div>
        
    </div>
    <br>
    <hr>
    <div class="reviewformcontainer">
    <div class="heading_login"><h1>Leave a Review</h1></div>
    <form id="sellerloginform" action="">
        <div class="starsreview">
            <i data-id="1" title="1 Star" class="fa-regular fa-star"></i><i data-id="2" title="2 Stars" class="fa-regular fa-star"></i><i title="3 Stars" data-id="3" class="fa-regular fa-star"></i><i title="4 Stars" data-id="4" class="fa-regular fa-star"></i><i title="5 Stars" data-id="5" class="fa-regular fa-star"></i>
            <input type="hidden" name="starvalue" id="starratingvalue" value="1">
        </div>
        <div class="commentwrite">
            <label for="commettextarea">Write your Review Here</label>
            <textarea name="customerreview" id="commettextarea" placeholder="Your Review" required></textarea>
            
        </div>
        <button type="submit">Submit Review</button>
    </form>
</div>
    <a class="call-wp" href="https://wa.me/+8801630981451" target="_blank"> <i class="fa-brands fa-whatsapp "></i></a>
</div>
<script src="/js/customerjs/customerreview.js"></script>