<link rel="stylesheet" href="css/customercss/storenearcustomer.css">
<div class="storesectionContainer">
    <h1>Stores in Your Area</h1>
    <br><br>
    <h2>Highlight</h1>
         
    <div class="subscribedStore">
            <div class="storesectionSubscribed">
                <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
                <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
                <p>Address: this is the address of the store</p>
                <br>
                <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
            </div>
            <div class="storesectionSubscribed">
                <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
                <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
                <p>Address: this is the address of the store</p>
                <br>
                <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
            </div>  
    </div>
    <br><br>
    <h1>All Stores</h1>
    <div class="storecontainer">
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    <div class="storesection">
        <img src="/images/categoryglossary.jpg" alt="glossary_hero_image">
        <h2>Emon Store <img src="/images/verified.png" alt="varified"></h2>
        <p>Address: this is the address of the store</p>
        <br>
        <a href="#"><i class="fa-solid fa-eye"></i> View Products</a>
    </div>
    
  </div>
</div>