<link rel="stylesheet" href="/css/changepass.css">
<div class="form-container">
  <h2> Set Password</h2>
  <form id="changepass" action="" method="">
    <div>
        <div class="passContainer">
            <label for="newpassword">New Password <span class="required">*</span></label>
            <input type="text" id="newpassword" name="newpassword" required>
        </div>
        <p class="passCondition">Password must contain mininum 8 chars, at least one uppercase, at least one special character</p>
    </div>
    <div>
        <div class="passContainer">
            <label for="confirmPass">Confirm Password <span class="required">*</span></label>
            <input type="text" id="confirmPass" name="confirmPass" required>
        </div>
        </div>
    <button class="submitBTN" type="submit">Change Password</button>
  </form>
</div>



<script src="/js/changepass.js"> </script>