<style>
    .checkyourmailcontainer{
        width:95%;
        min-height:70vh;
        border-radius: 10px;
        margin:20px auto;
        padding:20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

</style>

<div class="checkyourmailcontainer">
    <h1>Successfully Email Sent to Your Mail Address</h1>
    <p>Please Check your Email!</p>
</div>