<style>
    .forgetpasswordContainer{
        width:95%;
        min-height:70vh;
        border-radius: 10px;
        margin:20px auto;
        padding:20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .forgetpasswordContainer>h2{
        margin:10px 0px;
    }
    form{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:20px;
    }
     form>div{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap:10px;
        width:100%;
     }
     input{
        width:300px;
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #ddd;
        font-size: 0.95rem;
        background-color: #fafafa;
        transition: all 0.25s ease;
        outline: none;
     }
     form>div>button{
        width:150px;
        height:35px;
        background-color: #fff;
        outline: none;
        border:1px solid #000;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bold;
     }
     form>div>button:hover{
        background-color: #000;
        color:#fff;
     }
</style>
<div class="forgetpasswordContainer">
    <h2>Forget Password</h2>
    <form action="">
        <div>
            <label for="forgetpassEmail">Enter Your Mail Address <span class="required">*</span></label>
            <input type="email" name="forgetpassEmail" id="forgetpassEmail" required>
        </div>
        <div>
            <button type="submit">Varify</button>
        </div>
        
    </form>
</div>