<!-- hero container -->
 <div class="banner_image_container" >
    <div class="text_banner">
        <h1>Afseem</h1>
        <p>Find Your Product from Nearest Store</p>
        <a href="/store-category"> <i class="fa-solid fa-eye"></i> Visit Store</a>
    </div>
 </div>
 <p class="heroheading_tag">Just What You Need</p>
 <div class="hero_container">
    
    <div class="hero_left_heroimage">
        <video height="400" width="400" autoplay loop muted>
            <source src="https://res.cloudinary.com/dsladqhqo/video/upload/v1758210493/vegevideo_abgo4k.mp4" type="video/mp4">
            
        </video>
    </div>
    <div class="hero_middle_heroimage">
        <video width="400" height="400"  loop autoplay muted>
            <source src="https://res.cloudinary.com/dsladqhqo/video/upload/v1758210661/glossarystore_wt7cyl.mp4" type="video/mp4">
        </video>
    </div>
    <div class="hero_middle_heroimage">
        <video width="400" height="400"  loop autoplay muted>
            <source src="https://res.cloudinary.com/dsladqhqo/video/upload/v1758210481/Afseem.com_ppezra.mp4" type="video/mp4">
        </video>
    </div>

    <div class="hero_middle_heroimage_second">
        <video width="400" height="400"  loop autoplay muted>
            <source src="https://res.cloudinary.com/dsladqhqo/video/upload/v1758210486/bouquotvideo_kt9bys.mp4" type="video/mp4">
        </video>
    </div>
    <div class="hero_right_heroimage">
        <video width="400" height="400"  loop autoplay muted>
            <source src="https://res.cloudinary.com/dsladqhqo/video/upload/v1758210480/restaurantvideo_riq1wh.mp4" type="video/mp4">
        </video>
    </div>
 </div>

 

 <!-- category Section -->
  <h2 class="catergyContainerHeading">Select Your Category</h1>
  <p class="catergyContainerHeading_tag">From Fresh Groceries to Gourmet Meals and Gorgeous Blooms — All in One Place.</p>
  <div class="catergyContainer" style="display: none;">
    <div class="category">
        <img src="https://res.cloudinary.com/dsladqhqo/image/upload/v1758263087/categoryglossary_m7dxyz.webp" alt="glossary_hero_image">
        <h2>Grocery Store</h2>
        <a href="/store-category/grocery"><i class="fa-solid fa-eye"></i> View Store</a>
    </div>
    <div class="category">
        <img src="https://res.cloudinary.com/dsladqhqo/image/upload/v1758263091/categoryrestaurant_tiu3ve.webp" alt="glossary_hero_image">
        <h2>Restaurants</h2>
        <a href="/store-category/restaurent"><i class="fa-solid fa-eye"></i> View Store</a>
    </div>
  </div>

  <!-- visit Store now -->
   <div class="homeStoreSection">
        <h1>Your One-Stop Shop for Fresh, Flavor, and Fragrance.</h1>
        <a href="/store-category">View Store Now</a>
   </div>

   <!-- home small Description Afseem -->
    <h1 class="choose_heading">Why Choose Afseem</h1>
    <div class="whyChooseContainer">
        <div class="whyChooseContainer_option">
            <div class="homeCartIcon"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="option_container">
                <h1>One-Stop Platform</h1>
                <p>Grossary, Restaurant, flowers in one order</p>
            </div>
        </div>
        <div class="whyChooseContainer_option">
            <div class="homeCartIcon"><i class="fa-solid fa-truck-fast"></i></div>
            <div class="option_container">
                <h1>Fast Delivery</h1>
                <p>Fresh & Quick to your doorstep</p>
            </div>
        </div>
        <div class="whyChooseContainer_option">
            <div class="homeCartIcon"><i class="fa-solid fa-shield-halved"></i></div>
            <div class="option_container">
                <h1>Quality Guarantee</h1>
                <p>Only Trusted Vendors</p>
            </div>
        </div>
        
    </div>

