<link rel="stylesheet" href="/css/admincss/admin-viewcustomer.css">
<h1 class="allStoreHead">
    All Customers
</h1>
<div class="allCustomerConatainer">
    
    <div class="singleCustomer">
        <div class="info">
            <div class="customerImage">
                <img src="/images/restuarantimage.jpg" alt="">
            </div>
            <div class="customename"><b>Customer Name:</b> Emtiaz Emon Store <br>
                <b>Customer id:</b> 12345678901234560
            </div>
            <div class="customeremail"><b>Email:</b> Emon00000@gmail.com</div>
            <div class="customerpass"><b>Password:</b> Emon@1234567</div>
            <div class="vieworder"><a href="#"><i class="fa-solid fa-eye eyespass"></i> <b>View Orders</b></a> </div>
        </div>
        <div class="statusBt">
            
            <div class="buttons">
                <form><button type="submit">Delete Customer Account</button></form>
            </div>
        </div>
    </div>

    
</div>