<link rel="stylesheet" href="/css/admincss/admin-sellersubscription.css">
<div class="subscriptioncontainer">
    <h1>Search User</h1>
    <div class="storesearchsection">
        <form action="#">
        <input type="text" name="searchseller" id="searchseller" placeholder="Search here....">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <br>
    <hr>
    <div class="searchresult">
        <div class="searchuserresult">
            <div class="userimage">
                <div>
                    <img src="/images/food_image.jpg" alt="">
                    <h1>User Name</h1>
                    <p>User Id: 1234567890988</p>
                </div>
                <div class="storelocationinfo">
                    <div>
                        <p><b>Business Type:</b> Grocery</p>
                    </div>
                    <div>
                        <p><b>Country:</b> OMAN</p>
                    </div>
                    <div>
                        <p><b>City:</b> Al Mahkaran</p>
                    </div>
                    <div>
                        <p><b>Unit No.:</b> </p>
                    </div>
                    <div>
                        <p><b>Building No. :</b></p>
                    </div>
                    <div>
                        <p><b>Street No. :</b></p>
                    </div>
                    <div>
                        <p><b>Zone No. :</b></p>
                    </div>
                </div>
                
            </div>
            
            <div class="subscriptionbtn">
                <form action="#">
                    <button type="submit">Approve Subscription </button>
                </form>
            </div>
            
        </div>
    </div>
</div>