<link rel="stylesheet" href="css/admincss/admin-login.css">
<div class="loginformcontainer">
    <div class="heading_login"><h1>Admin Login</h1></div>
    <form id="sellerloginform" action="">
        <div class="input_email">
            <label for="loginuseremail">Email Address</label>
            <input type="email" name="adminloginemail" id="loginuseremail" placeholder="Admin@mail.com" required>
        </div>
        <div class="input_pass">
            <label for="loginuserpass">Password</label>
            <input type="password" name="adminloginpass" id="loginuserpass" required>
            <i class="fa-solid fa-eye eyespass"></i> 
        </div>
        <button type="submit">Admin Login</button>
    </form>
</div>

<script src="/js/adminjs/admin-login.js"></script>