<link rel="stylesheet" href="/css/admincss/admin-storeinfo.css">
<h1 class="allStoreHead">
    All Stores
</h1>
<div class="allStoreConatainer">
    
    <div class="singleStore">
        <div class="info">
            <div class="storeImage">
                <img src="/images/restuarantimage.jpg" alt="">
            </div>
            <div class="storeName"><b>Store Name:</b> Emtiaz Emon Store <br>
                <b>Store id:</b> 12345678901234560
            </div>
            <div class="storeemail"><b>Email:</b> Emon00000@gmail.com</div>
            <div class="storepass"><b>Password:</b> Emon@1234567</div>
        </div>
        <div class="statusBt">
            
            <div class="buttons">
                <a class="deactiveCls" href="#">Deactive</a>
                <a class="activeCls" href="#">Active</a>
                <form><button type="submit">Delete Store</button></form>
            </div>
        </div>
    </div>

    
</div>