<link rel="stylesheet" href="/css/admincss/changepass.css">
<div class="sendotpcontainer">
    <form action="/admin-change-password" method="post">
        <button class="sentotpbtn" href="/admin-sent-otp">Sent OTP</button>
    </form>
</div>