<link rel="stylesheet" href="/css/store/master-data.css" />

<div class="masterDashboardContainer">
  <div class="masterdatacategorycontainer">
    <div class="filtertext"><span>Filter</span> <span class="filterIcon"><i class="fa-solid fa-list"></i></span> <span class="closefilter"><i class="fa-solid fa-ban"></i></span></div>
    <div class="masterdatabodycontainer">
      <div id="CategorySearch">
      <div>
        <p class="filterOption active">All <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Fruits &amp; Vegetables <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Dairy &amp; Eggs <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Meat &amp; Poultry <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Fish &amp; Seafood <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Grains &amp; Breads <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Caned &amp; Jarred Goods <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Frozen Foods <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Herbs &amp; Spices <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Snacks &amp; Chips <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Cookies and Biscuits <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Chocolates &amp; Candies <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Nuts &amp; Seeds <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Water &amp; Beverages <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">
          Bread &amp; Baking Ingredients <span>(10)</span>
        </p>
      </div>
      <div>
        <p class="filterOption">Noodles &amp; Pasta <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">
          Hygiene &amp; Personal Care <span>(10)</span>
        </p>
      </div>
      <div>
        <p class="filterOption">Organic Foods <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Household Supplies <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Health &amp; Wellness <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">
          Detergents &amp; Cleaning Products <span>(10)</span>
        </p>
      </div>
      <div>
        <p class="filterOption">Baby Care <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">
          Pet Foods &amp; Accessories <span>(10)</span>
        </p>
      </div>
      <div>
        <p class="filterOption">
          Pulse, Rice &amp; Cooking Oil <span>(10)</span>
        </p>
      </div>
      <div>
        <p class="filterOption">Coffee &amp; Tea <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Stationary <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">Prepaid Cards <span>(10)</span></p>
      </div>
      <div>
        <p class="filterOption">International Specialty <span>(10)</span></p>
      </div>
      </div>
      <div class="filterresult">
        <div class="productContainer">
          <div class="productImage">
              <img src="/images/glossary_hero_image.jpg" alt="">
          </div>
          <h2>Product Name</h2>
          <span>Store Id: 12345</span>
          <p class="productPrice">Price: 50 AED</p>
          <p class="productStatus">Available</p>
          <div class="btnContainer">
              <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
              <form> <button type="submit" class="deleteBtn">Delete</button></form>
          </div>
        
        </div>
        <div class="productContainer">
          <div class="productImage">
              <img src="/images/glossary_hero_image.jpg" alt="">
          </div>
          <h2>Product Name</h2>
          <span>Store Id: 12345</span>
          <p class="productPrice ">Regular: <span class="regularPrice">70 AED</span></p>
          <p class="productPrice">Offer Price: <b>50</b> AED</p>
          <p class="productStatus">Available</p>
          <div class="btnContainer">
              <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
              <form> <button type="submit" class="deleteBtn">Delete</button></form>
          </div>
        
        </div>
        <div class="productContainer">
          <div class="productImage">
              <img src="/images/glossary_hero_image.jpg" alt="">
          </div>
          <h2>Product Name</h2>
          <span>Store Id: 12345</span>
          <p class="productPrice">Price: 50 AED</p>
          <p class="productStatus">Available</p>
          <div class="btnContainer">
              <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
              <form> <button type="submit" class="deleteBtn">Delete</button></form>
          </div>
        
        </div>
      </div>
    </div>
    
  </div>
</div>

<script src="/js/storejs/master-data.js"></script>
