<link rel="stylesheet" href="/css/store/master-data.css">

<div class="masterDashboardContainer">
    <h1>Download Product Data</h1>
    <div>
        <a href="/store-dashboard">Back To Dashboard</a>
        <button>Download Data</button>
    </div>
</div>