<link rel="stylesheet" href="/css/store/store-registration.css">
<% if(error.length>0){ %>
    <div class="errorContainer">
      <% error.forEach(element => { %>
        <p><%= element.msg %></p>
      <% }); %>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
<% } %>
<% if (error_msg!='') { %>
    <div style="background-color: red !important;" class="errorContainer">
        <p><%= error_msg %></p>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
  <% } %>

<div class="form-container">
  <h2> Store Registration Form</h2>
  <form id="storeForm" action="/registration-store" method="post" enctype="multipart/form-data">
    <div>
      <label for="storeName">Store Name <span class="required">*</span></label>
      <input type="text" id="storeName" name="storeName" required>
    </div>
    <div>
      <label for="ownerName">Owner Name <span class="required">*</span></label>
      <input type="text" id="ownerName" name="ownerName" required>
    </div>

     <div>
      <label for="storePhoto">Store Photo <span class="required">*</span></label>
      <input type="file" id="storePhoto" name="storePhoto" accept="image/*" required>
    </div>

    <div>
      <label for="storeemail">Email Address <span class="required">*</span></label>
      <input type="email" id="storeemail" name="storeemail" required>
    </div>
    <input type="hidden" id="countryisocode" name="countryisocode">
    <div>
      <label for="storeCategory">Store Category <span class="required">*</span></label>
      <select id="storeCategory" name="storeCategory" required>
        <option value="grocery" selected>Grocery</option>
        <option value="restaurant">Restaurant</option>
      </select>
    </div>

    <div>
      <label for="whatsapp">WhatsApp Number <span class="required">*</span></label>
      <div class="phonenumber">
        <select id="selectcountryisd" name="countryisd">
          <option value="+974" selected>+974</option>
        </select>
        <input type="number" id="whatsapp" name="whatsapp" placeholder="501234567" required>
      </div>
    </div>

    <div>
      <label for="storeunitno"> Unit No. <span class="required">*</span></label>
      <input type="number" id="storeunitno" name="storeunitno" required>
    </div>
    <div>
      <label for="storebuildingno"> Building No. <span class="required">*</span></label>
      <input type="number" id="storebuildingno" name="storebuildingno" required>
    </div>
    <div>
      <label for="storestreetno"> Street No. <span class="required">*</span></label>
      <input type="number" id="storestreetno" name="storestreetno" required>
    </div>
    <div>
      <label for="storezoneno"> Zone No. <span class="required">*</span></label>
      <input type="number" id="storezoneno" name="storezoneno" required>
    </div>

    

    <div>
      <label for="country">Country <span class="required">*</span></label>
      <select id="country" name="country" required>
        <option value="Qatar" selected>Qatar</option>
      </select>
    </div>
    <div class="dropdown-subcategory">
      <label for="storecity">City <span class="required">*</span></label>
      <input id="storecity" type="text" name="storecity" required>
      <div class="dropdown-list" id="dropdown"></div>
    </div>
    <div>
      <label for="storelocationmap">Store Google Map Location <span class="required">*</span></label>
      <input type="text" id="storelocationmap" name="storelocationmap" placeholder="Embed google map iframe" required>
    </div>

    <div>
      <label for="storeopen">Store Working Hours <span class="required">*</span></label>
      <input type="time" id="storeopen" name="storeopen" placeholder="e.g. 9 AM - 10 PM" required>
    </div>
    <div>
      <label for="storeclose">Store Working Hours <span class="required">*</span></label>
      <input type="time" id="storeclose" name="storeclose" placeholder="e.g. 9 AM - 10 PM" required>
    </div>
    <div>
      <label for="homeDelivery">Home Delivery <span class="required">*</span></label>
      <select id="homeDelivery" name="homeDelivery" required>
        <option value="Available" selected>Available</option>
        <option value="Not Available">Not Available</option>
      </select>
    </div>
    <div>
      <div class="passContainer">
      <label for="storepassword">Login Password <span class="required">*</span></label>
      <input type="password" id="storepassword" name="storepassword" required>
      <i class="fa-solid fa-eye eyespass"></i> 
    </div>
    <p class="passCondition">Password must contain mininum 8 chars, at least one uppercase, at least one special character and one Number</p>
    </div>
    
    <div class="checkbox-container">
      <input type="checkbox" id="terms" required>
      <label for="terms" style="font-weight:normal;">
        By Clicking It You are Agree to Our All Terms and Condition
      </label>
    </div>

    <button class="submitBTN" type="submit">Register</button>
  </form>
</div>



<script src="/js/storejs/store-registration.js"> </script>