<link rel="stylesheet" href="/css/store/seller-dashboard.css">
<div class="banner_image_container">
    <div class="text_banner">
        <h1>Afseem</h1>
        <p>Find Your Product from Nearest Store</p>
    </div>
 </div>
<div class="dashboard_container">
    <div class="heading"><h1>Dashboard</h1></div>
    <div class="dashboardMenu">
        <a href="/masterdata">Master Data</a>
        <a href="/add-product">Add Product</a>
    </div>
</div>

<div class="allProducts">
    <h1>Products</h1>
    <div class="allproductContainer">
        <div class="productContainer">
        <div class="productImage">
            <img src="/images/glossary_hero_image.jpg" alt="">
        </div>
        <h2>Product Name</h2>
        <span>Store Id: 12345</span>
        <p class="productPrice">Price: 50 AED</p>
        <p class="productStatus">Available</p>
        <div class="btnContainer">
            <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
            <form> <button type="submit" class="deleteBtn">Delete</button></form>
        </div>
        
    </div>
    <div class="productContainer">
        <div class="productImage">
            <img src="/images/glossary_hero_image.jpg" alt="">
        </div>
        <h2>Product Name</h2>
        <span>Store Id: 12345</span>
        <p class="productPrice">Price: 50 AED</p>
        <p class="productStatus">Available</p>
        <div class="btnContainer">
            <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
            <form> <button type="submit" class="deleteBtn">Delete</button></form>
        </div>
        
    </div>
    <div class="productContainer">
        <div class="productImage">
            <img src="/images/glossary_hero_image.jpg" alt="">
        </div>
        <h2>Product Name</h2>
        <span>Store Id: 12345</span>
        <p class="productPrice">Price: 50 AED</p>
        <p class="productStatus">Available</p>
        <div class="btnContainer">
            <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
            <form> <button type="submit" class="deleteBtn">Delete</button></form>
        </div>
        
    </div>
    <div class="productContainer">
        <div class="productImage">
            <img src="/images/glossary_hero_image.jpg" alt="">
        </div>
        <h2>Product Name</h2>
        <span>Store Id: 12345</span>
        <p class="productPrice">Price: 50 AED</p>
        <p class="productStatus">Available</p>
        <div class="btnContainer">
            <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
            <form> <button type="submit" class="deleteBtn">Delete</button></form>
        </div>
        
    </div>
    <div class="productContainer">
        <div class="productImage">
            <img src="/images/glossary_hero_image.jpg" alt="">
        </div>
        <h2>Product Name</h2>
        <span>Store Id: 12345</span>
        <p class="productPrice">Price: 50 AED</p>
        <p class="productStatus">Available</p>
        <div class="btnContainer">
            <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
            <form> <button type="submit" class="deleteBtn">Delete</button></form>
        </div>
        
    </div>
    <div class="productContainer">
        <div class="productImage">
            <img src="/images/glossary_hero_image.jpg" alt="">
        </div>
        <h2>Product Name</h2>
        <span>Store Id: 12345</span>
        <p class="productPrice">Price: 50 AED</p>
        <p class="productStatus">Available</p>
        <div class="btnContainer">
            <a href="#"><i class="fa-solid fa-pencil"></i>Edit</a>
            <form> <button type="submit" class="deleteBtn">Delete</button></form>
        </div>
        
    </div>
    </div>
    
</div>