<link rel="stylesheet" href="/css/store/store-profile.css" />

<div class="store_profile_container">
  <div class="store_basic_info">
    <div class="store_image_name">
      <img
        class="store_image"
        src="/images/categorybouquet.jpg"
        alt="store photo"
      />
      <h4>Store Name</h4>
      <div class="verified">
        <p><b>Verified</b> </p>
      </div>
      <div class="store_location">
        <p>Store Location: Polash Nagar, Pallabi, Mirpur-11, Dhaka</p>
      </div>
    </div>
    <div class="ownerInfo">
      <div class="ownerName">
        <p><b>Owner Name:</b> Md Emtiaz Emon</p>
      </div>
      <div class="whatsappnumber">
        <p><b>WhatsApp No. :</b> +8801630981451</p>
      </div>
      <div class="workingHour">
        <p><b>Working Hour :</b> 9 AM - 8 PM</p>
      </div>
      <div class="delivery_availability">
        <p><b>Delivery :</b> Available</p>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br>
  <div class="moreInformation">
    <div>
        <p><b>Email:</b> email@gmail.com</p>
    </div>
    <div>
        <p><b>Store Category:</b> Glossary</p>
    </div>
    <div>
        <p><b>Country:</b> OMAN</p>
    </div>
    <div>
        <p><b>City:</b> Al Mahkaran</p>
    </div>
    <div>
        <p><b>Unit No.:</b> </p>
    </div>
    <div>
        <p><b>Building No. :</b></p>
    </div>
    <div>
        <p><b>Street No. :</b></p>
    </div>
    <div>
        <p><b>Zone No. :</b></p>
    </div>
    
  </div>
  <br><br>
  <div class="store_map_location">
        <p><b>Store Google Map Location</b></p>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.1021970336988!2d90.37946987389499!3d23.814964686297348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c74a792b096b%3A0x623a505e1b7fd2cc!2sNou%20Maloncho!5e0!3m2!1sen!2sbd!4v1754984192195!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="edit_delete">
        <a href="#">Edit Profile</a>
        <form> <button class="deleteBtn" type="submit">Delete Profile</button></form>
    </div>
</div>
