<link rel="stylesheet" href="/css/store/uploadcsv.css">

<div class="productuploaderSection">
    <div class="downloadformate">
        <% if(category=='grocery'){ %>
            <a href="/excelformate/grocery.xlsx">Download Format</a>
        <% } %>
        <% if(category=='restaurant'){ %>
            <a href="/excelformate/restaurent.xlsx">Download Format</a>
        <% } %>
        
    </div>
    <% if (error_msg!='') { %>
    <div style="background-color: red !important;" class="errorContainer">
        <p><%= error_msg %></p>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <% } %>
    <% if (success_msg!='') { %>
    <div style="background-color: rgb(11, 93, 11) !important;" class="errorContainer">
        <p style="color:#FFF" ><%= success_msg %></p>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <% } %>
    <div class="uploadingoption">
        <form class="uploadform" action="/product-upload" method="post" enctype="multipart/form-data">
            <h1>Upload Products</h1>
            <br>
            <div>
                <label class="uploadlabel" for="uploadfile">Upload CSV  file <span class="required">*</span></label>
                <input type="file" name="csvfile" accept=".csv, .xlsx" id="uploadfile" required>
            </div>
            <div>
                <button class="csvuploadbtn" type="submit"><i class="fa-solid fa-upload"></i> Upload</button>
            </div>
        </form>
        
    </div>
    <br>
    <div><p>Progress Bar</p></div>
    <div id="progress-container" >
        <div id="progress-bar"></div>
    </div>
    <div id="progress-text"></div>
</div>

<script src="/js/storejs/uploadcsv.js"></script>