<div class="header_container">
    <div class="header_logo">
        <a href="/admin-dashboard">
            <img src="/images/Afseem_Logo.png" alt="sitelogo">
            <span>Grocery & Grill, Perfectly Paired</span>
        </a>
    </div>
    <div class="header_menu">
        <% if(user && user.role==="ADMIN"){ %>
            <div class="header_menu_item">
                    <a href="/admin-sellersubscription">Subscription</a>
                    <a href="/admin-customerinfo">Buyer</a>
                    <a href="/admin-storeinfo">Seller</a>
                    <a href="/admin-logout">Logout</a>
                
            </div>
            
            <div class="Icon_container">
                <div class="menu_hamburder"><i class="fa-solid fa-bars"></i></div>
            </div>
        <% } %>
    </div>
    
        <div class="mobile_menu">
                <a href="/admin-sellersubscription">Subscription</a>
                <a href="/admin-customerinfo">Buyer</a>
                <a href="/admin-storeinfo">Seller</a>
                <a href="/admin-logout">Logout</a>
            <div class="menuCross"><i class="fa-solid fa-xmark"></i></div>
        </div>
   
    
</div>

