<div class="header_container">
    <div class="header_logo">
        <a href="/">
            <img src="/images/Afseem_Logo.png" alt="sitelogo">
            <span>Grocery & Grill, Perfectly Paired</span>
        </a>
    </div>
    <div class="header_menu">
        <div class="header_menu_item">
            <a href="/customer-registration">Register</a>
            <a href="/customer-login">Login</a>
            <a href="/store-category">Store</a>
            <a href="customer-profile">Profile</a>
            <a href="/masterdata">Dashboard</a>
            <a href="#">Logout</a>
        </div>
        
        <div class="Icon_container">
            <div class="cartIc"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="menu_hamburder"><i class="fa-solid fa-bars"></i></div>
        </div>
    </div>
    <div class="mobile_menu">
            <a href="/customer-registration">Register</a>
            <a href="/customer-login">Login</a>
            <a href="/store-category">Store</a>
            <a href="customer-profile">Profile</a>
            <a href="/masterdata">Dashboard</a>
            <a href="#">Logout</a>
        <div class="menuCross"><i class="fa-solid fa-xmark"></i></div>
    </div>
    
</div>

