<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afseem-Grocery & Grill, Perfectly Paired</title>
    <!-- favicon -->
     <link rel="shortcut icon" href="https://res.cloudinary.com/dsladqhqo/image/upload/v1758133829/Afseem_Logo_wdfokc.png" type="image/x-icon">
    <!-- fontawsome cdn -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- google fonts -->
     <link  rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
     <link  rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet" crossorigin>
     
     <!-- style Sheet  -->
      <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header/header') %>
    <%- body  %>
    <%- include('../partials/footer/footer') %>


    <!-- my js index.js -->
     <script src="/js/index.js"></script>
</body>
</html>